/*  UI Features that are dependent on data availability are also placed here */

.main__trashBtn_holder{
    text-align: right;
}
.main__trashBtn{
    all: unset;
    cursor: pointer;
    font-size: 1.25em;
}

.card{
    background-color: #ccc;
    padding: 1em 1em;
    margin: 1em 0em;
    box-shadow: 2px 2px 1px #777;
    position: relative;
    border-radius: .5em;
    width: 100%;
}
.card small{
    font-size: .75em;
}

.card__btn_holder{
    position: absolute;
    top: .15em;
    right: .25em;
}
.card__btn{
    all: unset;
    margin: 0em .25em;
    cursor: pointer;
    font-size: 1.5em;
}


.status_bar{

    position: fixed;
    height: 0em;
    bottom: 0px;
    left: 50%;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    background-color: rgba(74, 136, 87, 0.5);
    padding: 0em 1.2em;
    transition: height .2s linear 0s;
    transform-origin: top left;
    overflow: none;
    color: white;
    overflow: none;
    z-index: 3;
    font-size: .75rem;
    font-weight: 700;
}

.status_bar.success{
    background-color: rgb(4, 131, 4,.75);

}
.status_bar.error{
    background-color: rgb(246, 8, 8,.75);
}

/* .status_bar:empty{
    height: 0;
} */